# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
-  Some Popular Languages in Data Science.
-  Some Libraries used in Data Science.
- Creating Table in markdown.
- Runing a code cell.
- converting minutes to hours.

## Author
 Niveditha M

Some of the popular languages that Data Scientists use are:
    Python.
    SQL.
    R programming.

Some of the commonly used libraries used by Data Scientists include:
pandas, numpy, sklearn, matplotlib etc

|Data Science Tools|
|------------------|
|KNIME|
|Apache Hadoop|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
# This will convert 200 minutes to hours by diving by 60
a=200 
h=200//60
m=200%60
print(h,":",m)

3 : 20